Package: com.joemerlino.lgthinqbypass
Name: LGThinQByPass
Version: 0.0.1
Architecture: iphoneos-arm
Description: Bypass LG jailbreak check.
Maintainer: Joe Merlino
Author: Joe Merlino
Section: Tweaks
Depends: mobilesubstrate (>= 0.9.5000)
